.main {
  width: 100%;
  min-height: 50vh;
  padding: 0px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.colors {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
}

.colors li {
  position: relative;
  list-style: none;
  width: 16rem;
  height: 16rem;

  border-radius: 0.5rem;

  transition: all 0.3s ease-in-out;
}

.colors li span {
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 100%;

  position: absolute;
  bottom: 0;
  border-top: 2px solid #ffffff2f;
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 600;
  color: #111111;
  background-color: rgba(255, 255, 255, 0.14);
}

.colors li span i {
  font-size: 1.3rem;
}
